/* Footer */
.aboutUs {
  padding: 0 24px; }

.footer {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  color: #000 !important;
  background-color: #f1f1f1 !important; }

.justify {
  text-align: justify !important; }

.center {
  text-align: center !important; }

h4 {
  font-size: 20px; }

/* Contacts */
.large-ico {
  font-size: 18px !important;
  padding: 2px 10px;
  color: #000; }

.large-ico:hover {
  opacity: 0.60; }

.copy {
  text-align: center !important;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.534) !important;
  padding-top: 24px !important;
  padding-bottom: 24px !important; }
